<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net452" />
  <package id="CefSharp.Common" version="63.0.3" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="63.0.3" targetFramework="net452" />
  <package id="Dapper" version="1.50.5" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.8.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net452" />
  <package id="StreamExtended" version="1.0.179" targetFramework="net452" />
  <package id="Titanium.Web.Proxy" version="3.0.623-beta" targetFramework="net452" />
  <package id="Unreal.QCloud" version="1.0.2" targetFramework="net452" />
</packages>